bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/x64/Debug
/.idea/.idea.SDLGame/.idea
/.vs/SDLGame
HelloSDL/x64/Debug
HelloSDL/HelloSDL.vcxproj
HelloSDL/HelloSDL.vcxproj.filters
Atlas/x64
*.vcxproj
Atlas/Atlas.vcxproj.filters
Atlas/Atlas.vcxproj.user
